@import "tailwindcss/base" layer(my-base);
/* @import "./custom-base-styles.css" layer(my-base); */

@import "tailwindcss/components" layer(my-components);

/* @import "./custom-components.css" layer(my-components); */

@import "tailwindcss/utilities" layer(my-utilities);
/* @import "./custom-utilities.css" layer(my-utilities); */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: noto sans, sans-serif;
}
/* @layer components {
  .card {
    @apply bg-white shadow-md rounded-lg p-4;
    background-color: #181c1f;
  }
} */
